.title{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    border-bottom: 1px solid rgb(199, 196, 196);
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
#userBdd{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.container_nav{
    width: 200px;
    display: flex;
justify-content: space-around;
}
.navBtn{
display: flex;
justify-content: center;
align-items: center;
margin-left: 15px;
color: black;
font-weight: bold;
cursor: pointer;
font-size: 20px;
}
.navBtn:hover{
    color: blueviolet;
    border: 1px solid white;
    padding: 3px;
    background-color: white;
    border-radius: 5px;


}
.spandate{
    color: white;
}
.imgNav{
    background-size: cover;
    width: 35px;
    height: 35px;
    clip-path:ellipse(50% 50%);
    border-radius: 50px;  
    background-size: cover;
    background-position: top center;
}